doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title iSharu Tech Crunches
center
  table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
      td(align='center' bgcolor='#f3f3f5' valign='top' width='100%')
        table.mobileView(align='center' border='0' cellpadding='0' cellspacing='0' width='600')
          tr
            td(align='center' bgcolor='#FFFFFF' style='padding:0px;' width='100%')
              table.fullScreen(align='center' bgcolor='' border='0' cellpadding='0' cellspacing='0' style='width:100% !important;background-color:#625a9c;' width='600')
                tr
                  td(bgcolor='#FFD6E5' style='width:100% !important; padding: 0;background-color:#ffffff;')
                    // BORDER START
                    table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#F3F3F5')
                      tr
                        td.divider(align='center' height='16px' style='background-color: #F3F3F5;')
                    table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#F3F3F5')
                      tr
                        td(align='center' height='25px' style='background-color: #FFFFFF;')
                    // BORDER ENDS
                    // BEGIN LOGO
                    table(cellspacing='0' cellpadding='0' align='left' border='0' width='100%' bgcolor='#ffffff')
                      tr
                        td(valign='top' align='center' width='100%')
                          img(align='center' style='max-width: 200px; height: auto' src='https://lh3.googleusercontent.com/eJTEopDSax_X6UTd3AJSx69AkIeKUedoJxoPnsk2i52sOYQA9OLJOGWUh9dzlonp-o2n3nZ4hQIeCf2kgmK5T615oUs6S7f6WBgjcJgT-w4-FNcQjVakV0seID8WgKKDHrf3jVpOk1lf5SfWhuzpe8HoTLuJYraRbRu7l2rfuqib13c6ox7hd3CiqlojCsR-msalxWmbrM4lvFTKcDdh2mS3tiYWvooZh6StITjmNZ5yqgPW1BKWMxZK0iE_yBof9Xlm_tisg9IBTkUeXplmLjknCPSBnXqgFXZ4QfXkYJl01EqUelTYKeIPEqRX4kiDSzAB6lTiBcpiGIrmTarrF9HjfBo9-EicnDtxDSkFCEmT_8w4cr7W2qjCyCoX7JJs53AFEktPIo3_21_8RzmMROJrnUwlR9n0UVqzVC5zsXm9ZoHFV4k72MU22qmonBrijmaWhU4VKFqHPdc9-ikV7RtSuw_p2rPDHObyGRr7eKakXnsFG_XJEjLlk6SX2GhmYhFXtYJqwjrCmm7SDTVY-nNYwOJL7re_ttMWMwpugekmSXtmeURcafgdtUAbIH8tv57smu2fLGpi7od9-dFVXo6BJUlzIaxkxthLOz1rq-8IYNa3MCqU8j26ZQOzI7maUXIK_KJWdEdjOsFRQRS4zJDxzyhKdyJjjbaiST8WtbnMFd0pZpr3PNZ7RA0X=s300-no?authuser=0' alt='iSharu Tech Crunches')
                    // END LOGO
              table.fullScreen(align='center' bgcolor='' border='0' cellpadding='0' cellspacing='0' style='width:100% !important;' width='600')
                tr
                  td(bgcolor='' style='width:100% !important; padding: 0;')
                    table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0' style='max-width: 600px;')
                      tr
                        td.mso-line-solid(align='center' style="font-family: 'LyftPro-Bold', Arial, Helvetica, sans-serif;font-style: italic; font-size: 14px; line-height: 1.0; color: #2a6356; font-weight: bolder; text-transform: uppercase; padding: 25px 25px 35px 25px;")
                          | YOU&apos;RE ONE STEP AWAY !
                      tr
                        td.mso-line-solid.mobile-headline(align='center' style="font-family: 'LyftPro-Bold', Arial, Helvetica, sans-serif; font-size: 40px; line-height: 1.0; color: #2a6356; font-weight: bold; padding: 0 25px 15px 25px;")
                          | Welcome #{name}
                      tr
                        td(align='center' style="font-family: 'LyftPro-Regular', Arial, Helvetica, sans-serif; font-size: 18px; line-height: 1.4; color: #000000; padding: 0 25px 50px 25px;")
                          | To complete your profile and start being a part of
                          | the community, you&apos;ll need to verify your email
                          | address.
                      tr
                        td(align='center' style='padding: 0 25px 30px 25px; background-color: #ffffff;')
                          table.full-width(align='center' cellpadding='0' cellspacing='0' border='0')
                            tr
                              td.cta-shadow(align='center' bgcolor='#2a6356' style='border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px;')
                                a(href=`${verifyUrl}` target='_blank' style='font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.0; font-weight: bold; color: #ffffff; text-transform: uppercase; text-decoration: none; border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; display: block; padding: 12px 90px 12px 90px;')
                                  | VERIFY
                    table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#F3F3F5')
                      tr
                        td(align='center' height='25px' style='background-color: #FFFFFF;')
              table.fullScreen(align='center' bgcolor='' border='0' cellpadding='0' cellspacing='0' style='width:100% !important;' width='600')
                tr
                  td(bgcolor='' style='width:100% !important; padding: 0;')
                    table(cellspacing='0' cellpadding='0' align='center' border='0' width='80%' bgcolor='#ffffff')
                      tr
                        td(valign='top' align='center' width='100%')
                          table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#EFEFF1')
                            tr
                              td(align='center' height='25px' style='background-color: #EFEFF1;')
                          table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0' bgcolor='#EFEFF1' style='max-width: 600px; background-color: #EFEFF1;')
                            tr
                              td(align='center' style='padding: 0px;')
                                table(align='center' cellpadding='0' cellspacing='0' border='0' bgcolor='#EFEFF1')
                                  tr
                                    td(align='center' valign='top' style='padding: 15px 15px 15px 15px; background-color: #EFEFF1;')
                                      img(src='https://img.icons8.com/dusk/64/000000/send-mass-email.png' width='50' border='0' style='color: #2a6356; display: inline-block; width: 50px; height: auto; outline: none;')
                                    td(align='left' style="font-family: 'LyftPro-Regular', Arial, Helvetica, sans-serif; font-size: 18px; line-height: 1.4; color: #000000; padding: 5px 5px 5px 0; background-color: #EFEFF1;")
                                      | Have a question? 
                                      br
                                      a(href='http://admin@isharu.in' style='color: #2a6356;') Reach out to our team
                          table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#EFEFF1')
                            tr
                              td(align='center' height='25px' style='background-color: #EFEFF1;')
                    // END HELP SECTION
                    table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#F3F3F5')
                      tr
                        td(align='center' height='50px' style='background-color: #FFFFFF;')
              // =================FOOTER=====================
              table(align='center' cellpadding='0' cellspacing='0' width='100%' style=' width:100% !important;')
                tr
                  td(align='center' valign='middle' style='padding: 0 25px 0 0;')
                  td(width='100%' align='center' valign='middle' style='border-top: 1px solid #d8d8d8;')
                  td(align='center' valign='middle' style='padding: 0 25px 0 0;')
              table.mobileView(align='center' bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' style='width:100% !important;' width='600')
                tr
                  td
                    table.mobileView(align='center' bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%')
                      tr
                        td(align='center' style="color: #88888f; font-family: 'LyftPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 18px; font-weight:normal; padding: 10px 0px 0px 25px;" valign='middle' width='100%')
                          a.footerLinks(href='https://isharu.in' style=' text-decoration: none; color: #88888f' target='_blank')
                            span.contact(align='center') Contact
                      tr
                        td(align='center' style="color: #88888f; font-family: 'LyftPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height:18px; font-weight: normal; padding: 10px 0px 0px 25px; text-decoration: none;" valign='middle')
                          | 420 NearBy St, San Shame, ZA 420420
                          br
                          | &copy;
                          |                               2020 iSharu Tech Crunches.
                tr
                  td(width='auto' style='display: block;' height='40')
        table(cellspacing='0' cellpadding='0' align='center' border='0' width='100%' bgcolor='#F3F3F5')
          tr
            td.divider(align='center' height='16px' style='background-color: #F3F3F5;')
